.header-bar{
background-color:black;
color:white;
width:100%;
line-height:1;
padding-top:1px;
padding-bottom:1px;
}

.header-bar ul{
list-style:none
}

.header-bar li{
display:inline;
padding-left:50px;
}
.left h1{
border-left:5px solid black;
border-bottom:2px solid gray;
width:830px;
}
.left{
float:left;
}
form{
background-color:#fbfbfb;
border:3px #ebebeb solid;
border-radius:10px;
width:800px;
padding-top:15px;

}
form h3{
border-left:5px solid red;
margin-left:10px;
padding-left:10px;
}

form .box{
padding-left:15px;
}

.text{
border:1px solid #dfdfdf;
padding:5px;
color:#999;
background:#fff;
width:250px;
}
textarea{
border:1px solid #dfdfdf;
padding:5px;
color:#999;
background:#fff;
width:550px;
}
form .box{
padding-bottom:15px;
}

.submit{
border:1px solid lightgray;
padding:4px 10px;
color:white;
background-color:#bfbfbf;
border-radius:5px;
border-bottom:solid 2px gray;
}
.right{
float:right;
text-align:left;
margin-left:3%;
margin-right:2%;
padding-top:15px;
}

.link-list ul{
list-style:none;
}
.link-list h2{
border-bottom:1px dashed black;
}
.link-list li{
text-align:left;
}

.kiji{
background-color:#fbfbfb;
border:3px #ebebeb solid;
border-radius:10px;
width:780px;
display:inline-block;
margin-top:15px;
padding-left:25px;
padding-bottom:10px;
}
.kiji h3{
border-bottom:3px #ebebeb solid;
width:730px;
}
footer{
clear:both;
width:100%;
color:white;
background-color:black;
text-align:center;
line-height:3;
}
